html {
  background-size: cover;
  background-attachment: fixed;
  font-family: bahnschrift;
  color: aliceblue;
  font-size: 1.2em;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h3 {
  font-size: 150%;
}

.elder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.cs1 {
  transition: 0.5s;
  margin: 0%;
}

.cs1:hover {
  font-size: 160%;
}
