body{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  background-image:url("Wood-9.jpg");
  background-attachment: fixed;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
} 

.navbar{
    margin:0;
    position: sticky;
    top: 0;
    font-family: Bahnschrift;
	background-color: black;
<<<<<<< HEAD
    background-color: rgba(0,0,0,0.95);
=======
    background-color: black;
	z-index:+3;
>>>>>>> 3888f1c6034d6c711a5ddf28787a455a0a05ec09

}
.navbar a{
    float: left;
    color: gray;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 130%;
    transition: 0.75s;
}

.navbar .dropdown{
    position: relative;
    display: inline-block;


}
.navbar .dropdown .dropbtn{
    color: gray;
    background-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 130%;
    transition: 0.75s;
    border: none;
    outline: none;
    font-family: Bahnschrift;

    margin: 0;
}
.navbar .dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1;
    min-width: 200px;
}
.navbar .dropdown .dropdown-content a{
    float: none;
    color:gray;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: 0.75s;
}
.navbar a:hover, .navbar .dropdown:hover .dropbtn{

    color:white;
    font-size: 140%;

}
.navbar .dropdown .dropdown-content a:hover{
    color: white;
    font-size: 140%;
}
.navbar .dropdown:hover .dropdown-content{
    display: block;
<<<<<<< HEAD
}
.Lorem{
  color:white;
  font-size: 1.2em;
}

#WOW{
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

#Skyrim{
  max-width: 49.5%;
  max-height:none;
  border-radius: 15px;
}

#Witcher{
  max-width: 80%;
  align: center;
  height: auto;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#Fortnite{
  max-width: 49.5%;
  max-height:none;
  border-radius: 15px;
}

#AC3{
  max-width: 49.5%;
  max-height:auto;
  border-radius: 15px;
}

#BAO{
  max-width: 49.5%;
  max-height:auto;
  border-radius: 15px;
}
=======
}
>>>>>>> 3888f1c6034d6c711a5ddf28787a455a0a05ec09
