
body {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  background-image: url("182522.jpg");
  background-attachment: fixed;
  background-position: center;
}
.Text{
  color: white;
  font-size: 1.4em;
  font-family: Bahnschrift;
}

.IntroImage {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#IntroImage {
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  margin: 0 ;
  border-radius: 15px
}

.centered {
  color: white;
  font-family: 'Monoton', cursive;
  font-size: 450%;
  position: absolute;
  top: 50%;
  transform: translate(15%, -50%);
}

.navbar {
  margin: 0;
  position: sticky;
  top: 0;
  font-family: Bahnschrift;
   background-color: black;
  background-color: rgba(0, 0, 0, 0.95);
   =======background-color: black;
  z-index: +3;
  opacity:0.85;
}

.navbar a {
  float: left;
  color: gray;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 130%;
  transition: 0.75s;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown .dropbtn {
  color: gray;
  background-color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 130%;
  transition: 0.75s;
  border: none;
  outline: none;
  font-family: Bahnschrift;
  margin: 0;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 1;
  min-width: 265px;
}

.navbar .dropdown .dropdown-content a {
  float: none;
  color: gray;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: 0.75s;
}

.navbar a:hover, .navbar .dropdown:hover .dropbtn {
  padding-left: 50px;
  color: white;
  font-size: 140%;
}

.navbar .dropdown .dropdown-content a:hover {
  color: white;
  padding-left: 15px;
  font-size: 140%;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
  <<<<<<< HEAD
}

.Lorem {
  color: white;
  font-size: 1.2em;
}

#WOW {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

#Skyrim {
  max-width: 49.5%;
  max-height: none;
  border-radius: 15px;
}

#Witcher {
  max-width: 80%;
  align: center;
  height: auto;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#Fortnite {
  max-width: 49.5%;
  max-height: none;
  border-radius: 15px;
}

#nAC3 {
  max-width: 49.5%;
  max-height: auto;
  border-radius: 15px;
}

#BAO {
  max-width: 49.5%;
  max-height: auto;
  border-radius: 15px;
}

=======
}
